SchemaDefinitions/EAIschema/credentials.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 xmlns:EAIschema = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!--
/******************************************************************************
  Name:         	credentials
  Description:    	Credential Schema for possible service validation

   History:
   Ver.        Date			Author(s)           			Description
   _______________________________________________________
   1.0        21-04-2005		Filipe Pateiro			Creation
******************************************************************************/
-->
	
	<complexType name = "Credentials">
		<sequence>
			<element name = "applicationID" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "login" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "password" type = "string" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
</schema>