SchemaDefinitions/EAIschema/header.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 xmlns:EAIschema = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<include schemaLocation = "credentials.xsd"/>
	<!--
/******************************************************************************
  Name:         	header
  Description:    	Header Schema to all EAI classes

   History:
   Ver.        Date			Author(s)           			Description
   _______________________________________________________
   1.0        21-04-2005		Filipe Pateiro			Creation
******************************************************************************/
-->
	
	<complexType name = "History">
		<sequence>
			<element name = "owner" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "service" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "step" type = "string" nillable = "true"/>
		</sequence>
	</complexType>
	<complexType name = "SystemsKey">
		<sequence>
			<element name = "owner" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "eai" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "target" type = "string" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "Header">
		<sequence>
			<element name = "sequenceID" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "timeout" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "tries" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "return" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "creationTime" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "timestamp" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "trackingID" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "entity" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "Keys" type = "EAIschema:SystemsKey" minOccurs = "0"/>
			<element name = "History" type = "EAIschema:History" minOccurs = "0"/>
			<element name = "Credentials" type = "EAIschema:Credentials" nillable = "true" minOccurs = "0"/>
			<element name = "Query" minOccurs = "0">
				<complexType>
					<sequence>
						<element name = "beginDate" type = "dateTime" minOccurs = "0"/>
						<element name = "endDate" type = "dateTime" minOccurs = "0"/>
						<element name = "startingRow" type = "string" minOccurs = "0"/>
						<element name = "endRow" type = "string" minOccurs = "0"/>
						<element name = "maxRows" type = "string" minOccurs = "0"/>
						<element name = "orderBy" type = "string" minOccurs = "0"/>
						<element name = "operation" type = "string" minOccurs = "0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>