SchemaDefinitions/EAIschema/responseEAI.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus/responseEAI"
	 xmlns:responseEAI = "http://xmlns.vfe.com.eg/EAI/celfocus/responseEAI"
	 xmlns:EAIschema = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 xmlns:COM = "http://xmlns.vfe.com.eg/EAI/celfocus/COM"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<import namespace = "http://xmlns.vfe.com.eg/EAI/celfocus" schemaLocation = "responseHeader.xsd"/>
	<import namespace = "http://xmlns.vfe.com.eg/EAI/celfocus/COM" schemaLocation = "../COM/COM.xsd"/>
	<!--Only alter the above elements-->
	
	<complexType name = "Header">
		<sequence>
			<element name = "step" type = "string" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "row">
		<sequence>
			<element name = "rowHeader" type = "EAIschema:responseHeader" nillable = "true" minOccurs = "0"/>
			<element name = "Data" type = "responseEAI:Data" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "Rows">
		<sequence>
			<element name = "row" type = "responseEAI:row" nillable = "true" minOccurs = "0" maxOccurs = "unbounded"/>
			<element name = "COM" type = "COM:COM" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "Data">
		<sequence>
			<any namespace = "##any" processContents = "skip" minOccurs = "0"/>
		</sequence>
	</complexType>
	
	<!--Change the complexType name-->
	
	<complexType name = "responseEAI">
		<sequence>
			<element name = "Header" type = "responseEAI:Header" nillable = "true" minOccurs = "0"/>
			<element name = "eCodes" type = "EAIschema:eCodes" nillable = "true"/>
			<element name = "Rows" type = "responseEAI:Rows" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
	
	<element name="ResponseEAI" type="responseEAI:responseEAI"/>
	
</schema>