SchemaDefinitions/StoreProcedure/unresolvedResultsets.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus/unresolvedResultsets"
	 xmlns:unresolvedResultsets = "http://xmlns.vfe.com.eg/EAI/celfocus/unresolvedResultsets"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
	
	<element name = "Record1" type = "anyType"/>
	<element name = "ResultSet1">
		<complexType>
			<sequence>
				<element ref = "unresolvedResultsets:Record1" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "Resultsets">
		<complexType>
			<sequence>
				<element ref = "unresolvedResultsets:ResultSet1"/>
			</sequence>
		</complexType>
	</element>
</schema>