SchemaDefinitions/standard/checkServiceDependencies.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus/Common/checkServiceDependencies"
	 xmlns:dependentService = "http://xmlns.vfe.com.eg/EAI/celfocus/Common/checkServiceDependencies"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!--
/******************************************************************************
  Name:         	response
  Description:    	Pre defined fields for response codes and descriton

   History:
   Ver.        Date			Author(s)           			Description
   _______________________________________________________
   1.0        21-04-2005		Filipe Pateiro			Creation
******************************************************************************/
-->
	
	<complexType name = "dependentService">
		<sequence>
			<element name = "ServiceName" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "Domain" type = "string" nillable = "true" minOccurs = "0"/>
			<element name = "parsedCOM" type = "string" nillable = "true" minOccurs = "0"/>
		</sequence>
	</complexType>
	<element name = "element" type = "dependentService:dependentService" nillable = "true"/>
</schema>