SchemaDefinitions/standard/flushLogSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.vfe.com.eg/EAI/celfocus/Common/writeLog"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus/Common/writeLog"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<!--
/******************************************************************************
   Name:              flushLogSchema
   Description:    Variables to be used to flush all logs at the end of each process

   History:
   Ver.        Date			Author(s)           			Description
   _______________________________________________________
   1.0        21-04-2005		Filipe Pateiro			Creation
******************************************************************************/
-->
	
	<xsd:complexType name = "flushLogSchema">
		<xsd:sequence>
			<xsd:element name = "existsError" type = "xsd:boolean"/>
			<xsd:element name = "allLogDescriptions" type = "xsd:string" nillable = "true" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>