SchemaDefinitions/standard/writeLogSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 targetNamespace = "http://xmlns.vfe.com.eg/EAI/celfocus"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "../EAIschema/eCodes.xsd"/>
	<!--
/******************************************************************************
   Name:              writeLogSchema
   Description:    Variables to be used in all writeLog processes

   History:
   Ver.        Date			Author(s)           			Description
   _______________________________________________________
   1.0        21-04-2005		Filipe Pateiro			Creation
******************************************************************************/
-->
	
	<xsd:complexType name = "writeLogSchema">
		<xsd:sequence>
			<xsd:element name = "eCodes" type = "eCodes" minOccurs = "0"/>
			<xsd:element name = "eType" type = "xsd:string"/>
			<xsd:element name = "eToPublish" type = "xsd:string" nillable = "true" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>